PORT=4000
NODE_ENV=development
DATABASE_URL=
JWT_SECRET=
RESEND_API_KEY=
FEEDBACK_FROM_EMAIL=feedback@atara.finance
FEEDBACK_RECIPIENT_EMAIL=feedback@atara.finance
INFURA_API_KEY=
ALCHEMY_NETWORK=base-sepolia
BASE_SEPOLIA_USDC_ADDRESS=
BASE_SEPOLIA_USDT_ADDRESS=
BASE_MAINNET_USDC_ADDRESS=0x036CbD53842c5426634e7929541eC2318f3dCF7e
BASE_MAINNET_USDT_ADDRESS=0x7c6b91D9Be155A6Db01f749217d76fF02A7227F2